<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMMA FEST</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/StyleSheet.css" asp-append-version="true">
    <link href='~/favicon.ico' rel='stylesheet' asp-append-version="true">
</head>

<body>
    <!-- Contenedor -->
    <header class="hero">
        <partial name="_LoginPartial" />

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="contact">
            <div class="item_contact item__contact--gold">
                <i class='bx bx-copyright contact_icon contact_icon--modifier'></i>
                <h3 class="contact_title">/Insertar/</h3>
            </div>
            <div class="item_contact item__contact--gold">
                <i class='bx bx-copyright contact_icon contact_icon--modifier'></i>
                <h3 class="contact_title">/Insertar/</h3>
            </div>
            <div class="item_contact item__contact--gold">
                <i class='bx bx-copyright contact_icon contact_icon--modifier'></i>
                <h3 class="contact_title">/Insertar/</h3>
            </div>
            <div class="item_contact item__contact--gold">
                <i class='bx bx-copyright contact_icon contact_icon--modifier'></i>
                <h3 class="contact_title">/Insertar/</h3>
            </div>
        </div>
    </header>
    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - Web_AytanaManicure - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>