@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model GAMMAFEST.Models.Evento

@{
    ViewData["Title"] = "CrearEvento";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

    <link href="~/css/Style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Administración de Eventos</title>
</head>
    <body>
        <div class="container-fluid">

            <h1>CrearEvento</h1>

            <h4>Evento</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form method="post" asp-action="CrearEvento" enctype="multipart/form-data">
                        
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Descripcion" class="form-label">Descripción del Evento</label>
                                <textarea asp-for="Descripcion" id="summernote" class="form-control"></textarea>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NombreEvento" class="form-label">Nombre del Evento</label>
                                <input asp-for="NombreEvento" id="summernote" class="form-control" />
                                <span asp-validation-for="NombreEvento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Protocolos" class="form-label">Protocolos</label>
                                <textarea asp-for="Protocolos" id="summernote" class="form-control"></textarea>
                                <span asp-validation-for="Protocolos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FechaInicioEvento" class="control-label">Ingrese Fecha de Inicio del Evento</label>
                                <input asp-for="FechaInicioEvento" class="form-control" />
                                <span asp-validation-for="FechaInicioEvento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="hidden" asp-for="NombreImagen" value="a1" />
                                <input type="hidden" asp-for="ImagenTemp" value="a1" />
                            </div>
                            <div class="form-group">
                                <label asp-for="ArchivoImagen" class="control-label">Ingrese Imagen: <br></label>
                                <input asp-for="ArchivoImagen" accept="image/*" />
                                <span asp-validation-for="ArchivoImagen" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="AforoMaximo" class="control-label">Ingrese Imagen: <br></label>
                                <input asp-for="AforoMaximo">
                                <span asp-validation-for="AforoMaximo" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <input asp-for="IdPromotor" value="@UserManager.GetUserId(User)" type="hidden">
                            }
                            </div>
                            <div class="form-group">
                                @*<label asp-for="IdString" class="control-label"></label>*@
                                @*<input type="hidden" asp-for="IdString" value="1" class ="form-control" asp-items="ViewBag.Id"></input>*@
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Almacenar Evento" class="cta3" />
                            </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-controller="Home" asp-action="Index">
                    Regresar
                </a>
            </div>
        </div>
    </body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}